@import "bower_components/pure/pure.css";

body {
	padding: 1em;
}

.pure-g-r > div {
	box-sizing: border-box;
}

.l-box {
	padding: 1em;
}

#done {
	float: right;
	font-size: 16px;

	background: rgb(28, 184, 65);
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
