@import "bower_components/pure/pure.css";

body {
	padding: 1em;
	padding-top: 0;
}

.pure-g-r > div {
	box-sizing: border-box;
}

.l-box {
	padding: 1em;
}

header {
	position: fixed;
	left: 1em;
	right: 1em;
	width: auto !important;
	padding: 5px 0;
	background-color: white;
}

header + div {
	margin-top: 3em;
}

header li {
	font-size: 200%;
}

#done {
	float: right;

	background: rgb(28, 184, 65);
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
